.App {
  text-align: center;
}

#counterDiv{
  display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    position: absolute;
    right:-7px;
    top: -8px;
    padding:6px 6px 6px 7px;;
    border-radius: 50%;
    background-color: red;
    color:white;
}
.warning{
  color: #a94442;
  background: #f2dede;
  border-color: #ebccd1;
  padding:5px;
   border-radius: 3px
}